#back{
    height: 100vh;
    background-image: url(../styles/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#project{
    border: 5px solid;
    background: white;
    border-color: #BF5700;
    border-radius: 25px;
    width: 400px;
    height: 380px;
    align-items: center;
    justify-content: center;
}