.projectPage{
    background-color: rgb(251, 202, 150);
    height: 100vh;
    background-size: cover;
    display: flex;
}
.projectPage2{
    background-color: rgb(251, 202, 150);
    height: 100%;
    width: 100%;
    margin: 0px;
    background-size: cover;
    position: absolute;
    overflow: scroll;
}
.project{
    background-color: rgb(251, 202, 150);
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(191, 87, 0);
}
header{
    text-align: center;
    height: 50px;
}
hr{
    position: relative;
    bottom: 50px;
    color: #000000;
}
.project{
    text-align: center;
    font-size: x-large;
    margin-left: 10px;
}
.description{
    color :#000000;
    text-align: center;
    margin-left: 10px;
    position:relative;
    bottom: 20px;

}
.Button{
    color: #BF5700;
    position: relative;
    left: 10px;
    bottom: 20px;
}
.HW{
    text-align: left;
    margin-left: 10px;
}
.TextField{
    position: relative;
    left: 150px;
    bottom: 120px;
    border-width: 5px;
}.leave{
    color: #000000;
    position: absolute;
    font-size: x-large;
    border-color: #BF5700;
    border-radius: 5px;
    background-color: #ed8632;
    right: 40px;
}
#HWSets{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 20px;
}
#createProj{
    color: #000000;
    position: absolute;
    font-size: x-large;
    right: 130px;
    top: 10px;
    border-color: #BF5700;
    border-radius: 5px;
    background-color: #ed8632;
}
#logOut{
    color: #000000;
    position: absolute;
    font-size: x-large;
    right: 30px;
    top: 10px;
    border-color: #BF5700;
    border-radius: 5px;
    background-color: #ed8632;
}

.HWSet{
       margin: 5px;
}
/* }
#createProj{
    color: #BF5700;
    position: relative;
    left: 10px;
    bottom: 20px;
} */